<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/styles/tailwind.css">
    <link rel="shortcut icon" href="/web/assets/logo01.png" type="image/x-icon">
    <title>Artist den</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>

    <div id="app" v-cloak>
        <div :class="tema=='tema_1' ? '' : tema=='tema_2' ? 'theme2' : tema=='tema_3' ? 'theme3' : tema=='tema_4' ? 'theme4' : tema=='tema_5' ? 'theme5' : tema=='tema_6' ? 'theme6' : ''"
            class="w-full min-h-screen flex flex-col aparecer2 bg-skin-normal">


            <!-- HEADER CON NAV -->
            <header>

                <div ref="navbar" class="flex justify-between w-screen p-2 fixed z-0 place-items-center">

                    <img :src=" tema=='tema_4' || tema=='tema_5' || tema=='tema_6' ? '/web/assets/logo02.png' : '/web/assets/logo01.png'"
                        class="w-[3.5%] h-[3.5%] ml-4 aparecer transition-all ease-in-out duration-300" alt="logo">
                    <nav class="flex font-bahnschrift">
                        <div class="flex items-center">
                            <a class="mr-6 ml-6 text-skin-base text-opacity-50 hover:text-opacity-100 transition-all ease-in duration-100"
                                href="/index.html">Home</a>
                            <div class="font-xs opacity-30 text-skin-base">|</div>
                            <a class="mr-6 ml-6 text-skin-base text-opacity-50 hover:text-opacity-100 transition-all ease-in duration-100"
                                href="/web/public/wallofartworks.html">Store</a>
                            <div class="font-xs opacity-30 text-skin-base">|</div>
                            <a class="mr-6 ml-6 text-skin-base text-opacity-50 hover:text-opacity-100 transition-all ease-in duration-100"
                                href="/web/public/wallofartist.html">Artists</a>
                            <div class="font-xs opacity-30 text-skin-base">|</div>
                            <a class="mr-6 ml-6 text-skin-base text-opacity-50 hover:text-opacity-100 transition-all ease-in duration-100"
                                href="/web/public/shoppingcart.html">Shop cart</a>
                        </div>
                        <div v-show="user == 'visitor'" class="flex items-center mr-6 ml-6">
                            <a class="mr-4 ml-6 px-5 py-3 text-opacity-80 text-skin-inverted hover:text-skin-base  sus"
                                href="javascript:void(0);">Log in</a>
                            <div class="font-xs opacity-30 text-skin-base">|</div>
                            <a class="mr-6 ml-3 text-skin-base text-opacity-100" href="javascript:void(0);">Sign in</a>
                        </div>
                        <div v-show="user == 'authenticated'" class="relative">
                            <img class="w-10 h-10 rounded-full" src="/docs/images/people/profile-picture-5.jpg" alt="">
                            <span
                                class="top-0 left-7 absolute  w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
                        </div>
                        <div class="w-1/2">
                            <button class="boton1s" @click="theme(1)">TEMA 1</button>
                            <button class="boton1s" @click="theme(2)">TEMA 2</button>
                            <button class="boton1s" @click="theme(3)">TEMA 3</button>
                            <button class="boton1s" @click="theme(4)">TEMA 4</button>
                            <button class="boton1s" @click="theme(5)">TEMA 5</button>
                            <button class="boton1s" @click="theme(6)">TEMA 6</button>
                        </div>
                    </nav>

                </div>

            </header>
            <!-- CUERPO -->
            <main class="bg-skin-normal mt-24 p-8">
                <div class=" flex justify-center mt-11">
                    <p class=" text-3xl text-skin-accent">Shopping Cart</p>
                </div>
                <div class=" flex justify-around border-b-4 md:w-[75%] w-[100%] ml-12 mt-11 md:p-5" v-for="product in carProducts">
                    <div class=" flex flex-row justify-evenly">
                        <div class=" flex items-center m-3">
                            <button @click="eliminarArticulo(product.id)"><i
                                    class="uil uil-trash-alt text-skin-muted text-3xl"></i></button>
                        </div>
                        <div class=" flex items-center">
                            <img alt="Lava"
                                :src="product.image"
                                class="w-36 h-36 shadow-xl rounded-xl" />
                        </div>
                        
                        <div class=" flex flex-col items-center pt-12 m-4">
                            <p class=" text-lg text-skin-muted"> 🎨 {{product.name}}</p>
                        </div>
                        <div class="flex justify-center w-[25%]">
                            <p class="text-lg text-skin-muted">{{product.description}}</p>
                        </div>
                    </div>
                    <div class=" flex flex-col items-start pt-10">
                        <p class=" text-skin-muted md:text-2xl">Unit: {{currency(product.price)}}</p>
                        <p class=" text-skin-muted md:text-2xl">Subtotal: {{currency(product.price*product.cantidad)}}</p>
                        <div class=" flex flex-row mt-4">
                            <div class="flex items-center pr-1">
                                <button @click="restarArticulo(product.id)"
                                    class="text-skin-base bg-skin-normal font-bold p-2 font-bahnschrift text-xs shadow-[0px_0px_1px_rgba(var(--color-text-base),0.4)] hover:shadow-[1px_1px_5px_rgba(var(--color-normal),0.8)] rounded-l-md hover:rounded-l-2xl  ease-in duration-300 hover:filtro2">-</button>
                                <div class="text-skin-base px-1 group-hover:text-skin-inverted ">{{product.cantidad}}
                                </div>
                                <button @click="sumarArticulo(product.id)" v-show="product.cantidad < product.units"
                                    class="text-skin-base bg-skin-normal font-bold p-2 font-bahnschrift text-xs shadow-[0px_0px_1px_rgba(var(--color-text-base),0.4)] hover:shadow-[1px_1px_5px_rgba(var(--color-normal),0.8)] rounded-r-md hover:rounded-r-2xl ease-in duration-300 hover:filtro2">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" m-5 flex justify-center flex-row">
                    <div class="  text-2xl text-skin-muted flex justify-center mt-6">
                        <p>Total:</p>
                    </div>
                    <div class="  text-2xl text-skin-muted flex justify-center mt-6 ml-5">
                        <p>{{currency(totalPay)}}</p>
                    </div>
                </div>
                <div class=" m-5 flex justify-center flex-row">
                    <div class="  text-2xl text-skin-muted flex justify-center mt-6">
                        <button href="/web/public/wallofartworks.html" class="boton1s w-24 h-14">CONTINUE SHOPPING</button>
                    </div>
                    <div class="  text-2xl text-skin-muted flex justify-center mt-6">
                        <button class="boton1s w-24 h-14">PAY</button>
                    </div>
                </div>




                <div class=" flex justify-center mt-11 mb-12">
                    <p class=" text-3xl text-skin-accent">You might also like</p>
                </div>

                <div class=" flex flex-row flex-wrap justify-center mt-4">
                    <div class=" flex flex-col ml-4" v-for="marketing in marketingProducts">
                        <a href="#" class="block w-56">
                            <img alt="Lava"
                                :src="marketing.image"
                                class="w-[100%] h-56 shadow-xl rounded-xl" />

                            <div class="p-4">
                                <h5 class="text-xl font-bold text-gray-900 h-12">
                                    {{marketing.name}}
                                </h5>

                                <div class="  text-2xl text-skin-muted flex justify-center">
                                    <button class="boton1s w-24 h-14" @click="escuchadorCarrito(marketing)">❤️️ ADD</button>
                                </div>
                            </div>
                        </a>

                    </div>

                </div>


            </main>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="/web/scripts/shoppingcart.js"></script>
</body>

</html>