<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./web/styles/tailwind.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="/web/assets/logo01.png" type="image/x-icon">
    <!-- iconos -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- librería flowbite -->
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
    <title>Home | AMBAR</title>
</head>

<body class=" bg-gray-100">

    <div id="app" v-cloak>
        <div :class="tema=='tema_1' ? '' : tema=='tema_2' ? 'theme2' : tema=='tema_3' ? 'theme3' : tema=='tema_4' ? 'theme4' : tema=='tema_5' ? 'theme5' : tema=='tema_6' ? 'theme6' : ''"
            class="min-h-screen bg-skin-normal aparecer2">

            <!-- HEADER CON NAV -->
            <header class="">

                <div class="hidden glass1 md:flex justify-between w-screen p-2 fixed z-0 place-items-center">
                    <!-- botones si el usuario es visitante -->
                    <div v-show="user=='visitor'" class="flex items-center mr-6 ml-6">
                        <a class="mr-4 ml-6 px-5 py-3 text-opacity-80 text-skin-inverted hover:text-skin-base  sus"
                            href="javascript:void(0);" @click="activeModal=true, modal='login', goTo='Store'">Log
                            in</a>
                        <div class="font-xs opacity-30 text-skin-base">|</div>
                        <a class="mr-6 ml-3 text-skin-base text-opacity-100" href="javascript:void(0);"
                            data-modal-toggle="defaultModal"
                            @click="activeModal=true, modal='register', goTo='Profile'">Sign in</a>
                    </div>
                    <!-- botones si el usuario es visitante -->
                    <div v-show="user=='authenticated'" class="flex items-center mr-6 ml-6">

                        <img :src="profileImage" v-show="profileInfo.typeUser == 'CLIENT'" alt="" class="w-14 h-14  bg-cover bg-no-repeat rounded-full">
                        <div class="font-xs opacity-30 text-skin-base">|</div>
                        <a class="mr-6 ml-3 text-skin-base text-opacity-100" href="javascript:void(0);"
                            @click="logout">Logout</a>
                        <a v-show="profileInfo.typeUser == 'ARTIST'" :href="'/web/artist/artistpage.html?id='+profileInfo.id"><img :src="profileImage" alt="" class="w-14 h-14  bg-cover bg-no-repeat rounded-full"></a>
                        
                        
                    </div>

                    <img :src=" tema=='tema_4' || tema=='tema_5' || tema=='tema_6' ? '/web/assets/logo02.png' : '/web/assets/logo01.png'"
                        class="w-[3.5%] h-[3.5%] ml-4 aparecer transition-all ease-in-out duration-300" alt="logo">
                    <nav class="flex font-bahnschrift">
                        <div class="flex items-center">
                            <a class="mr-6 ml-6 text-skin-base text-opacity-50 hover:text-opacity-100 transition-all ease-in duration-100"
                                href="#">Home</a>
                            <div class="font-xs opacity-30 text-skin-base">|</div>
                            <a class="mr-6 ml-6 text-skin-base text-opacity-50 hover:text-opacity-100 transition-all ease-in duration-100"
                                href="/web/public/wallofartworks.html">Store</a>
                            <div class="font-xs opacity-30 text-skin-base">|</div>
                            <a class="mr-6 ml-6 text-skin-base text-opacity-50 hover:text-opacity-100 transition-all ease-in duration-100"
                                href="/web/artistandartlovers/artistpage.html">Artists</a>
                            <div class="font-xs opacity-30 text-skin-base">|</div>
                            <a class="mr-6 ml-6 text-skin-base text-opacity-50 hover:text-opacity-100 transition-all ease-in duration-100"
                                href="/web/public/shoppingcart.html">Shop cart</a>
                        </div>

                    </nav>
                    <div class="w-1/2">
                        <button class="boton1s" @click="theme(1)">TEMA 1</button>
                        <button class="boton1s" @click="theme(2)">TEMA 2</button>
                        <button class="boton1s" @click="theme(3)">TEMA 3</button>
                        <button class="boton1s" @click="theme(4)">TEMA 4</button>
                        <button class="boton1s" @click="theme(5)">TEMA 5</button>
                        <button class="boton1s" @click="theme(6)">TEMA 6</button>
                    </div>
                </div>

            </header>
            <!-- NAV-BAR MOBILE -->
            <div class="self-start ml-16 mt-6 pb-3 fixed z-50">
                <button id="dropdownRightButton" data-dropdown-toggle="dropdownRight" data-dropdown-placement="right"
                    class="boton5s" type="button"><img src="/web/assets/icons/theme.svg" alt="temas" class="w-5 h-5 "
                        :class="tema=='tema_1' ? 'filter1a' : tema=='tema_2' ? 'filter2b' : tema=='tema_3' ? 'filter3b' : tema=='tema_4' ? 'filter4b' : tema=='tema_5' ? 'filter5b' : 'filter1b'"></button>

                <div id="dropdownRight" class="hidden z-10 w-4 fixed pt-[78px] aparecer" data-popper-reference-hidden=""
                    data-popper-escaped="" data-popper-placement="bottom"
                    style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform:z translate(0px, 810px);">
                    <ul class="flex py-1 text-sm text-gray-700 dark:text-gray-200 c-flex"
                        aria-labelledby="dropdownDefault">
                        <li>
                            <button class="w-6 h-6 c-flex tclaro" @click="theme(1)"><img
                                    src="/web/assets/icons/pincel1.svg" class="w-4 h-4 filter1a" alt="theme1"></button>
                        </li>
                        <li>
                            <button class="w-6 h-6 c-flex tclaro" @click="theme(2)"><img
                                    src="/web/assets/icons/pincel1.svg" class="w-4 h-4 filter2a" alt="theme2"></button>
                        </li>
                        <li>
                            <button class="w-6 h-6 c-flex tclaro" @click="theme(3)"><img
                                    src="/web/assets/icons/pincel1.svg" class="w-4 h-4 filter3a" alt="theme3"></button>
                        </li>
                        <li>
                            <button class="w-6 h-6 c-flex toscuro" @click="theme(4)"><img
                                    src="/web/assets/icons/pincel1.svg" class="w-4 h-4 filter4b" alt="theme4"></button>
                        </li>
                        <li>
                            <button class="w-6 h-6 c-flex toscuro" @click="theme(5)"><img
                                    src="/web/assets/icons/pincel1.svg" class="w-4 h-4 filter5b" alt="theme5"></button>
                        </li>
                        <li>
                            <button class="w-6 h-6 c-flex toscuro" @click="theme(6)"><img
                                    src="/web/assets/icons/pincel1.svg" class="w-4 h-4 filter6b" alt="theme6"></button>
                        </li>
                    </ul>
                </div>
            </div>
            <header class="md:hidden">
                <div class=" h-24  justify-center items-center fixed top-0 glass1 w-full z-40">
                    <div class="mb-6  pt-6">
                        <div>
                            <img :src=" tema=='tema_4' || tema=='tema_5' || tema=='tema_6' ? '/web/assets/logo02.png' : '/web/assets/logo01.png'"
                                class=" ml-4 aparecer transition-all ease-in-out duration-300 fixed left-0" alt="logo"
                                style="width: 40px; height: 40px;">
                        </div>

                        <div class="fixed right-0 flex">
                            <a class="px-5 py-3 text-opacity-80 text-skin-inverted hover:text-skin-base  sus"
                                href="javascript:void(0);">Log in</a>

                            <a class=" px-5 py-3 text-skin-base text-opacity-100" href="javascript:void(0);">Sign in</a>
                        </div>

                    </div>

                </div>


                <div class="flex justify-center fixed bottom-0 glass1 w-full py-3 font-extrabold z-50">
                    <nav class="flex">
                        <div class="flex items-center">
                            <a class="mr-6 ml-6 text-skin-base text-opacity-50 hover:text-opacity-100 transition-all ease-in duration-100"
                                href="/index.html">Home</a>
                            <div class="font-xs opacity-30 text-skin-base">|</div>
                            <a class="mr-6 ml-6 text-skin-base text-opacity-50 hover:text-opacity-100 transition-all ease-in duration-100"
                                href="/web/public/wallofartworks.html">Store</a>
                            <div class="font-xs opacity-30 text-skin-base">|</div>
                            <a class="mr-6 ml-6 text-skin-base text-opacity-50 hover:text-opacity-100 transition-all ease-in duration-100"
                                href="/web/public/wallofartist.html">Artists</a>
                            <div class="font-xs opacity-30 text-skin-base">|</div>
                            <a class="mr-6 ml-6 text-skin-base text-opacity-50 hover:text-opacity-100 transition-all ease-in duration-100"
                                href="/web/public/shoppingcart.html">Shop cart</a>
                        </div>
                    </nav>
                </div>
            </header>

            <!-- CUERPO -->

            <main class=" pt-24">
                <!-- SECTION Publicity -->
                <section
                    class=" text-skin-inverted c-flex flex-col md:h-screen  px-5 py-5 md:py-0 bg-skin-muted rounded-t-lg">
                    <h2
                        class="title-font sm:text-4xl text-3xl  md:mb-14 font-medium text-white py-5 md:py-0 text-center">
                        The
                        gallery you
                        needed
                    </h2>
                    <div class=" md:flex md:mt-3 flex flex-col justify-center items-center  md:flex-row">
                        <div class=" h-4/6  md:h-auto flex flex-col justify-between items-center overflow-hidden group">

                            <div
                                class="bg-gray-400 h-[400px] w-[250px] md:h-[450px] md:w-[375px] bg-[url('https://images.pexels.com/photos/4585185/pexels-photo-4585185.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')] bg-cover bg-center bg-no-repeat group-hover:scale-125 transition-all ease-in duration-300">
                            </div>
                        </div>
                        <div class="flex flex-col justify-center items-center md:pl-10">
                            <p class="mt-3 md:w-80 text-center">Many people have already entered this page to buy and
                                upload the best works, here nobody stops you, you can be whoever you want. </p>
                            <div class="place-self-center bg-skin-base h-[1.2px] lg:w-1/2 w-full mt-9 bg-opacity-20">
                            </div><!-- LINE -->
                            <div class="container py-5 mx-auto">
                                <div class="flex flex-wrap justify-around -m-4 text-center">
                                    <div class="p-4 sm:w-1/2 w-1/2">
                                        <h2 class="title-font font-medium sm:text-4xl text-3xl text-white">2.7K</h2>
                                        <p class="leading-relaxed">Art Lovers</p>
                                    </div>
                                    <div class="p-4 sm:w-1/2 w-1/2">
                                        <h2 class="title-font font-medium sm:text-4xl text-3xl text-white">1.8K</h2>
                                        <p class="leading-relaxed">Artists</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- SECTION publicity2 -->
                <section class="bg-skin-base text-skin-base body-font rounded-b-lg">
                    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
                        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 md:mb-0 mb-10 overflow-hidden group">
                            <img class="object-cover object-center rounded group-hover:scale-125 transition-all ease-in duration-300"
                                alt="hero"
                                src="https://img.freepik.com/fotos-premium/estatua-venus-milo-imagen-neon-colorido-concepto-creativo-escultura-griega-antigua-venus-o-cabeza-afrodita-webpunk-vaporwave-estilo-artistico-surrealista-efectos-duotono-rosa-azul_155402-508.jpg">
                        </div>
                        <div
                            class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
                            <h2 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-skin-muted">The best works
                                are
                                in this place, and the best artists too!
                            </h2>
                            <p class="mb-8 leading-relaxed">Did you ever think something like this would be possible? A
                                virtual gallery? It is already done! We take care that your productions reach everyone.
                            </p>
                            <div class="flex justify-center">
                                <a href="./web/public/wallofartist.html" class="boton1 c-flex">See the artists</a>
                                <a href="./web/public/wallofartworks.html" class="boton3">See
                                    the artworks</a>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- SECTION tiktok video -->
                <!-- <section
                    class=" text-skin-muted c-flex flex-col h-screen px-5 md:flex md:flex-row md:justify-evenly md:m-20 bg-skin-disabled rounded-lg">
                    <iframe src="./web/assets/index/videotiktok.mp4" class="w-[220px] h-[390px] boton2"></iframe>
                    <div class="mt-3 text-center text-xl">
                        <h2 class="title-font sm:text-4xl text-3xl  md:mb-2 font-medium  py-5 md:py-0 text-center"
                            :class="tema=='tema_1' ? 'text-black' :'text-white'">
                            Do you want to see more?
                        </h2>
                        <p>We are wating for people like you</p>
                        <div class="place-self-center bg-skin-base h-[1.2px] w-full mt-9 bg-opacity-20">
                        </div>

                        <button data-modal-toggle="authentication-modal" class="boton2"
                            @click="activeModal=true, modal='login', goTo='Store'">Log
                            in</button>
                    </div>
                </section> -->

                <!-- SECTION artists -->
                <div id="default-carousel" class="relative bg-skin-accent" data-carousel="static">
                    <!-- Carousel wrapper -->
                    <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                        <!-- Item 1 -->
                        <div class="duration-700 ease-in-out absolute inset-0 transition-all transform translate-x-0 z-20"
                            data-carousel-item="">
                            <!-- PERFIL CARD -->
                            <!-- -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 -->
                            <div class="absolute w-full h-full py-4 flex items-center justify-evenly px-4">
                                <div class="w-[190px] md:w-[375px] h-[190px] md:h-[300px] bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
                                    v-for="artist in arrayArtists1">

                                    <div class="flex flex-col justify-center items-center mb:pb-10 h-full mb:h-auto">
                                        <img class="mb-3 w-24 h-24 rounded-full shadow-lg" :src="artist.image">
                                        <div class="md:w-full md:flex md:flex-col md:justify-center md:items-center">
                                            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
                                                {{artist.name + " " +artist.lastName}}
                                            </h5>
                                            <span
                                                class="hidden md:block text-sm text-gray-500 dark:text-gray-400">Artist</span>
                                            <div class="hidden md:block mt-4 space-x-3 md:mt-6">
                                                <a :href="'./web/artistandartlovers/artistpage.html?id='+artist.id"
                                                    class="boton2">View Page</a>
                                                <a href="./web/public/wallofartist.html" class="boton1 ">See
                                                    more
                                                    artists</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- Item 2 -->
                        <div class="duration-700 ease-in-out absolute inset-0 transition-all transform translate-x-0 z-20"
                            data-carousel-item="">
                            <!-- PERFIL CARD -->
                            <!-- -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 -->
                            <div class="absolute w-full h-full py-4 flex items-center justify-evenly px-4">
                                <div class="w-[190px] md:w-[375px] h-[190px] md:h-[300px] bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
                                    v-for="artist in arrayArtists2">

                                    <div class="flex flex-col justify-center items-center mb:pb-10 h-full mb:h-auto">
                                        <img class="mb-3 w-24 h-24 rounded-full shadow-lg" :src="artist.image">
                                        <div class="md:w-full md:flex md:flex-col md:justify-center md:items-center">
                                            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
                                                {{artist.name + " " +artist.lastName}}
                                            </h5>
                                            <span
                                                class="hidden md:block text-sm text-gray-500 dark:text-gray-400">Artist</span>
                                            <div class="hidden md:block mt-4 space-x-3 md:mt-6">
                                                <a :href="'./web/artistandartlovers/artistpage.html?id='+artist.id"
                                                    class="boton2">View Page</a>
                                                <a href="./web/public/wallofartist.html" class="boton1 ">See more
                                                    artists</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Item 3 -->
                        <div class="duration-700 ease-in-out absolute inset-0 transition-all transform translate-x-0 z-20"
                            data-carousel-item="">
                            <!-- PERFIL CARD -->
                            <!-- -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 -->
                            <div class="absolute w-full h-full py-4 flex items-center justify-evenly px-4">
                                <div class="w-[190px] md:w-[375px] h-[190px] md:h-[300px] bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
                                    v-for="artist in arrayArtists3">

                                    <div class="flex flex-col justify-center items-center mb:pb-10 h-full mb:h-auto">
                                        <img class="mb-3 w-24 h-24 rounded-full shadow-lg" :src="artist.image">
                                        <div class="md:w-full md:flex md:flex-col md:justify-center md:items-center">
                                            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
                                                {{artist.name + " " +artist.lastName}}
                                            </h5>
                                            <span
                                                class="hidden md:block text-sm text-gray-500 dark:text-gray-400">Visual
                                                Designer</span>
                                            <div class="hidden md:block mt-4 space-x-3 md:mt-6">
                                                <a :href="'./web/artistandartlovers/artistpage.html?id='+artist.id"
                                                    class="boton2">View Page</a>
                                                <a href="./web/public/wallofartist.html" class="boton1 ">See more
                                                    artists</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Slider indicators -->

                    <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
                        <button type="button" class="w-3 h-3 rounded-full bg-white dark:bg-gray-800" aria-current="true"
                            aria-label="Slide 1" data-carousel-slide-to="0"></button>
                        <button type="button"
                            class="w-3 h-3 rounded-full bg-white/50 dark:bg-gray-800/50 hover:bg-white dark:hover:bg-gray-800"
                            aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                        <button type="button"
                            class="w-3 h-3 rounded-full bg-white/50 dark:bg-gray-800/50 hover:bg-white dark:hover:bg-gray-800"
                            aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                    </div>
                    <!-- Slider controls -->

                    <button type="button"
                        class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                        data-carousel-prev="">
                        <span
                            class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
                                fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15 19l-7-7 7-7"></path>
                            </svg>
                            <span class="sr-only">Previous</span>
                        </span>
                    </button>
                    <button type="button"
                        class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                        data-carousel-next="">
                        <span
                            class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
                                fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7">
                                </path>
                            </svg>
                            <span class="sr-only">Next</span>
                        </span>
                    </button>
                </div>

                <!-- SECTION Invitation to login -->
                <section class=" bg-skin-normal text-skin-muted body-font">
                    <div class="container px-5 py-24 mx-auto">
                        <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
                            <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font mb-10 md:mb-0">Don't
                                forget,
                                everything you do here will grow infinitely!</h1>
                            <button class="boton1 w-20" data-modal-toggle="authentication-modal"
                                @click="activeModal=true, modal='login', goTo='Store'">Log in</button>
                        </div>
                    </div>
                </section>

                <!-- SECTION gallery of art -->
                <!-- <section class=" bg-skin-muted text-skin-inverted body-font rounded-t-lg">
                    <div class="container px-5 py-24 mx-auto flex flex-wrap">
                        <div class="flex w-full mb-20 flex-wrap">
                            <h1 class="sm:text-3xl text-2xl font-medium title-font text-white lg:w-1/3 lg:mb-0 mb-4">
                                Some of the works of art posted on this site</h1>
                            <p class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed  font-bold"
                                :class="tema=='tema_1' || tema=='tema_3'|| tema=='tema_6' ? 'text-black' :'text-white'">
                                You will have a super close contact with those people you admire so much.
                                The artists of
                                this site are willing to satisfy your needs, you will never feel that it
                                could be
                                better.
                            </p>
                        </div>
                        <p>{{arrayDeImagenes[0]}}</p>
                        <div class="flex flex-wrap md:-m-2 -m-1 w-screen h-screen">
                            <div class="flex flex-wrap w-1/2 overflow-hidden group">
                                <div class="h-2/5 flex w-full overflow-hidden group">

                                    <div class=" bg-cover bg-center bg-no-repeat w-1/2 p-1 md:p-2 group-hover:scale-125 transition-all ease-in duration-300"
                                        :class="img1" @click="modalDetails=true, productSelected=products[0]">

                                    </div>
                                    <div class="bg-cover bg-center bg-no-repeat w-1/2 p-1 md:p-2 group-hover:scale-125 transition-all ease-in duration-300"
                                        :class="img2" @click="modalDetails=true, productSelected=products[1]">
                                    </div>
                                </div>
                                <div class="bg-cover bg-center bg-no-repeat w-full p-1 md:p-2 h-3/5 group-hover:scale-125 transition-all ease-in duration-300"
                                    :class="img3" @click="modalDetails=true, productSelected=products[2]">
                                </div>
                            </div>
                            <div class="flex flex-wrap w-1/2 overflow-hidden group">
                                <div class="bg-cover bg-center bg-no-repeat w-full p-1 md:p-2 h-3/5 group-hover:scale-125 transition-all ease-in duration-300"
                                    :class="img4" @click="modalDetails=true, productSelected=products[3]">
                                </div>
                                <div class="h-2/5 flex w-full overflow-hidden group">
                                    <div class="bg-cover bg-center bg-no-repeat w-1/2 p-1 md:p-2 group-hover:scale-125 transition-all ease-in duration-300"
                                        :class="img5" @click="modalDetails=true, productSelected=products[4]">
                                    </div>
                                    <div class="bg-cover bg-center bg-no-repeat w-1/2 p-1 md:p-2 group-hover:scale-125 transition-all ease-in duration-300"
                                        :class="img6" @click="modalDetails=true, productSelected=products[5]">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> -->
                <!-- <img :src="arrayDeImagenes[0]" alt="" class="w-96 h-96 inline " @click="imgSelected=products[0]">
                <img :src="arrayDeImagenes[1]" alt="" class="w-96 h-96 inline" @click="imgSelected=products[1]">
                <img :src="arrayDeImagenes[2]" alt="" class="w-96 h-96 inline" @click="imgSelected=products[2]">
                <img :src="arrayDeImagenes[3]" alt="" class="w-96 h-96 inline" @click="imgSelected=products[3]">
                <img :src="arrayDeImagenes[4]" alt="" class="w-96 h-96 inline" @click="imgSelected=products[4]">
                <img :src="arrayDeImagenes[5]" alt="" class="w-96 h-96 inline" @click="imgSelected=products[5]">
                <img :src="arrayDeImagenes[5]" alt="" class="w-96 h-96 inline" @click="imgSelected=products[5]"> -->
                <div v-for="product in products.slice(0,7)" class="w-96 h-96 inline">
                    <div @click="modifyProductSelected(product)">
                        <img :src="product.image" alt="" class="w-96 h-96 inline">
                        <p>{{product.name}}</p>
                    </div>
                </div>
                <!-- DETALLES -->
                <div>
                    SELECCIONADO
                    {{productSelected}}
                    <img :src="productSelectedimg" alt="" class="w-96 h-96 inline">
                    <p>Title: {{productSelected.name}}</p>
                    <p>Description: {{productSelected.description}}</p>
                    <p>Dimensions: {{productSelected.dimensionsList}}</p>
                    <p>Price: $ {{productSelected.price}}</p>
                    <p>Units: {{productSelected.units}}</p>
                    <select name="" id="selectUnits"></select>
                    <button>Add to cart</button>

                </div>

                <!-- SECTION artist of the year -->
                <section class="text-black bg-skin-accent body-font rounded-b-lg">
                    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
                        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium "
                            :class="tema=='tema_4' || tema=='tema_5' || tema=='tema_6' ? 'text-black' : 'text-white'">
                            This is the best
                            artist at this moment, congratulations!</h1>
                        <div class="overflow-hidden group">
                            <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded group-hover:scale-125 transition-all ease-in duration-300"
                                alt="hero" :src="bestArtist.image">
                        </div>
                        <div class="text-center lg:w-2/3 w-full">
                            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium "
                                :class="tema=='tema_4' || tema=='tema_5' || tema=='tema_6' ? 'text-black' : 'text-white'">
                                {{bestArtist.name + " " + bestArtist.lastName}}</h1>
                            <p class="leading-relaxed mb-8">Meggings kinfolk echo park stumptown DIY, kale chips
                                beard
                                jianbing tousled. Chambray dreamcatcher trust fund, kitsch vice godard disrupt
                                ramps
                                hexagon mustache umami snackwave tilde chillwave ugh. Pour-over meditation
                                PBR&amp;B
                                pickled ennui celiac mlkshk freegan photo booth af fingerstache pitchfork.</p>
                            <button class="flex justify-center w-full items-center">
                                <a :href="'./web/artistandartlovers/artistpage.html?id='+bestArtist.id"
                                    class="boton2">See
                                    the artist</a>
                                <a @click="activeModal=true, modal='register', goTo='Profile'"
                                    class=" boton1 c-flex">Join me!</a>
                            </button>
                        </div>
                    </div>
                </section>
            </main>

            <!-- FOOTER -->
            <!-- bg-skin-disabled font-bahnschrift text-skin-base -->
            <!-- FOOTER -->
            <footer class="font-quicksand">


                <div
                    class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
                    <div
                        class="w-64 flex-shrink-0 md:mx-0 mx-auto md:text-left md:mt-0 mt-10 flex items-center md:justify-start justify-center place-items-center content-center">
                        <img :src=" tema=='tema_4' || tema=='tema_5' || tema=='tema_6' ? '/web/assets/logo02L.png' : '/web/assets/logo01L.png'"
                            class="w-[60%] h-[60%] aparecer transition-all ease-in-out duration-1000" alt="logo">
                    </div>
                    <div class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">
                        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                            <h2 class="title-font font-medium text-skin-accent tracking-widest text-sm mb-3 ">CATEGORIES
                            </h2>
                            <nav class="list-none mb-10">
                                <li>
                                    <a class="text-skin-base text-opacity-60 hover:text-opacity-100">First Link</a>
                                </li>
                                <li>
                                    <a class="text-skin-base text-opacity-60 hover:text-opacity-100">Second Link</a>
                                </li>
                                <li>
                                    <a class="text-skin-base text-opacity-60 hover:text-opacity-100">Third Link</a>
                                </li>
                                <li>
                                    <a class="text-skin-base text-opacity-60 hover:text-opacity-100">Fourth Link</a>
                                </li>
                            </nav>
                        </div>
                        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                            <h2 class="title-font font-medium text-skin-accent tracking-widest text-sm mb-3 ">CATEGORIES
                            </h2>
                            <nav class="list-none mb-10">
                                <li>
                                    <a class="text-skin-base text-opacity-60 hover:text-opacity-100">First Link</a>
                                </li>
                                <li>
                                    <a class="text-skin-base text-opacity-60 hover:text-opacity-100">Second Link</a>
                                </li>
                                <li>
                                    <a class="text-skin-base text-opacity-60 hover:text-opacity-100">Third Link</a>
                                </li>
                                <li>
                                    <a class="text-skin-base text-opacity-60 hover:text-opacity-100">Fourth Link</a>
                                </li>
                            </nav>
                        </div>
                        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                            <h2 class="title-font font-medium text-skin-accent tracking-widest text-sm mb-3 ">CATEGORIES
                            </h2>
                            <nav class="list-none mb-10">
                                <li>
                                    <a class="text-skin-base text-opacity-60 hover:text-opacity-100">First Link</a>
                                </li>
                                <li>
                                    <a class="text-skin-base text-opacity-60 hover:text-opacity-100">Second Link</a>
                                </li>
                                <li>
                                    <a class="text-skin-base text-opacity-60 hover:text-opacity-100">Third Link</a>
                                </li>
                                <li>
                                    <a class="text-skin-base text-opacity-60 hover:text-opacity-100">Fourth Link</a>
                                </li>
                            </nav>
                        </div>
                        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                            <h2 class="title-font font-medium text-skin-accent tracking-widest text-sm mb-3 ">CATEGORIES
                            </h2>
                            <nav class="list-none mb-10">
                                <li>
                                    <a class="text-skin-base text-opacity-60 hover:text-opacity-100">First Link</a>
                                </li>
                                <li>
                                    <a class="text-skin-base text-opacity-60 hover:text-opacity-100">Second Link</a>
                                </li>
                                <li>
                                    <a class="text-skin-base text-opacity-60 hover:text-opacity-100">Third Link</a>
                                </li>
                                <li>
                                    <a class="text-skin-base text-opacity-60 hover:text-opacity-100">Fourth Link</a>
                                </li>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="bg-skin-muted bg-opacity-20">
                    <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
                        <p class="text-gray-500 text-sm text-center sm:text-left">© 2022 MindHub —
                            <a href="https://twitter.com/knyttneve" rel="noopener noreferrer" class="text-gray-600 ml-1"
                                target="_blank">@knyttneve</a>
                        </p>
                        <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
                            <a class="text-gray-500">
                                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    class="w-5 h-5" viewBox="0 0 24 24">
                                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                                </svg>
                            </a>
                            <a class="ml-3 text-gray-500">
                                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    class="w-5 h-5" viewBox="0 0 24 24">
                                    <path
                                        d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                                    </path>
                                </svg>
                            </a>
                            <a class="ml-3 text-gray-500">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                                </svg>
                            </a>
                            <a class="ml-3 text-gray-500">
                                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                                    <path stroke="none"
                                        d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                                    </path>
                                    <circle cx="4" cy="4" r="2" stroke="none"></circle>
                                </svg>
                            </a>
                        </span>
                    </div>
                </div>
            </footer>



            <!-- MODAL -->
            <div class="fixed top-0 left-0 w-full h-full glass2 c-flex aparecer bg-opacity-80 " v-show="activeModal">
                <div
                    class=" w-full md:w-auto mx-3 flex flex-col justify-between items-center glass1 aparecer rounded-lg">
                    <!-- X -->
                    <div class="flex justify-end items-end content-end w-full">
                        <button class="mt-2 mr-4" @click="activeModal=false">X</button>
                    </div>
                    <!-- content login-->

                    <div class="flex flex-col justify-center items-center h-full w-full md:w-auto"
                        v-show="modal=='login'">
                        <h2 class="text-lg font-bold text-skin-muted md:text-2xl md:mb-5 ">Login</h2>
                        <div class="w-full  flex flex-col justify-center px-7 text-sm">
                            <div class="w-full flex  justify-between items-center mb-3 md:mb-5">
                                <label class="mr-3" for="login-email">Your email</label>
                                <input id="login-email" type="text"
                                    class=" rounded-md dark:placeholder-gray-400 text-skin-muted "
                                    placeholder="name@company.com" required="" v-model="login.email">
                            </div>
                            <div class="w-full flex  justify-between items-center md:mb-5">
                                <label class="mr-3" for="login-password">Your Password</label>
                                <input id="login-password" type="password"
                                    class="rounded-md dark:placeholder-gray-400 text-skin-muted" placeholder="••••••••"
                                    required="" v-model="login.password">
                            </div>

                        </div>
                        <div class="w-full flex flex-col justify-center items-center">
                            <button class="w-3/4 text-skin-muted font-medium rounded-lg text-sm boton3 mx-4"
                                @click="loginAccount">Login
                                to your account</button>
                            <div class="text-sm font-medium  text-opacity-60 "
                                :class="tema=='tema_1' || tema=='tema_2' ||tema=='tema_3' ? 'text-black' : 'text-skin-base'">
                                Not registered?
                                <a class="text-skin-muted hover:underline " @click="modal='register'">Create
                                    account</a>
                            </div>
                            <p>{{mjeError}}</p>
                        </div>
                    </div>

                    <!-- content register -->
                    <div v-show="modal=='register'"
                        class="flex flex-col justify-center items-center h-full w-full aparecer">
                        <h2 class="text-lg font-bold text-skin-muted md:text-2xl">I am a...</h2>
                        <div class="flex flex-col justify-center items-center md:flex-row">
                            <button class=" px-4 md:mr-10 flex flex-col justify-center items-center boton2"
                                @click="modal='register2', userType='CLIENT'">
                                <div class="rounded-lg  overflow-hidden">
                                    <img alt="content"
                                        class="object-cover object-center h-[140px] w-[175px] md:h-[200px] md:w-[200px]"
                                        src="https://dummyimage.com/1201x501">
                                </div>
                                <h2 class="title-font text-sm font-medium text-skin-accent mt-2 mb-2">Art Lover
                                </h2>
                                <p class="leading-relaxed text-xs text-gray-800 text-opacity-70">I want to see the
                                    creations
                                </p>

                            </button>
                            <button class="boton2 px-4 flex flex-col justify-center items-center"
                                @click="modal='register2', userType='ARTIST'">
                                <div class="rounded-lg overflow-hidden">
                                    <img alt="content"
                                        class="object-cover object-center h-[140px] w-[175px] md:h-[200px] md:w-[200px]"
                                        src="https://dummyimage.com/1202x502">
                                </div>
                                <h2 class="title-font text-sm font-medium text-skin-accent mt-2 mb-2">Artist</h2>
                                <p class="leading-relaxed text-xs text-gray-800 text-opacity-70">I am a creator
                                </p>

                            </button>
                        </div>
                    </div>

                    <!-- content register2 -->
                    <div v-show="modal=='register2'"
                        class="flex flex-col justify-center items-center aparecer my-6 w-full px-7">
                        <h2 class=" text-center text-lg font-bold text-skin-muted md:text-2xl mb-3"
                            v-show="userType=='ARTIST'">Mr.
                            Artist
                            please complete the form</h2>
                        <h2 class="text-lg font-bold text-skin-muted md:text-2xl mb-3" v-show="userType=='CLIENT'">Mr.
                            Art
                            Lover please complete the form</h2>
                        <div class="text-xs md:text-lg">
                            <div class="w-full flex  justify-between items-center mb-2">
                                <label class="mr-3" for="register-name">Name:</label>
                                <input id="register-name" type="text"
                                    class=" rounded-md dark:placeholder-gray-400 text-skin-muted " placeholder="Blake"
                                    required="" v-model="register.name">
                            </div>
                            <div class="w-full flex  justify-between items-center mb-2">
                                <label class="mr-3" for="register-lastname">Last Name:</label>
                                <input id="register-lastname" type="text"
                                    class="rounded-md dark:placeholder-gray-400 text-skin-muted" placeholder="Walker"
                                    required="" v-model="register.lastName">
                            </div>
                            <div class="w-full flex  justify-between items-center mb-2">
                                <label class="mr-3" for="register-email">Email:</label>
                                <input id="register-email" type="text"
                                    class=" rounded-md dark:placeholder-gray-400 text-skin-muted "
                                    placeholder="name@company.com" required="" v-model="register.email">
                            </div>
                            <div class="w-full flex  justify-between items-center mb-2">
                                <label class="mr-3" for="register-password">Password</label>
                                <input id="register-password" type="password"
                                    class="rounded-md dark:placeholder-gray-400 text-skin-muted" placeholder="••••••••"
                                    required="" v-model="register.password">
                            </div>
                            <div class="w-full flex  justify-between items-center mb-4">
                                <label class="mr-3" for="register-password2">Password (again)</label>
                                <input id="register-password2" type="password"
                                    class="rounded-md dark:placeholder-gray-400 text-skin-muted" placeholder="••••••••"
                                    required="" v-model="repeatedPassword">
                            </div>
                            <div class="w-full flex  justify-between items-center mb-2">
                                <input id="terms" type="checkbox" value="" class="w-4 h-4" required=""
                                    v-model="termsOfServiceChecked">
                                <label for="terms">I
                                    agree
                                    with
                                    the <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">terms
                                        and conditions</a></label>
                            </div>


                        </div>
                        <div class="boton3" @click="createAccount">Create Account</div>
                        <p class="text-red-500 text-bold text-sm md:text-lg">{{mjeError}}</p>
                    </div>
                </div>
            </div>

            <!-- MODAL MENSAJE SENCILLO, SIN BOTONES -->
            <div v-show="modalSimple==true"
                class="aparecer fixed top-0 left-0 flex justify-center bg-opacity-80 aparecer z-30 w-full h-full glass2">

                <div
                    class="flex flex-col justify-center items-center mt-10 bg-skin-normal filter-none w-96 h-36 rounded-2xl shadow-sm border border-slate-300">
                    <!-- X -->
                    <div class="flex justify-end items-end content-end w-full">
                        <button class="mt-2 mr-4" @click="modalSimple=false">X</button>
                    </div>
                    <p class="text-skin-base text-center p-2 m-1 font-bold"><b>New card created successfully!</b>
                    </p>
                    <div>
                        <button class="boton2" @click="modalSimple=false">Stay here</button>
                        <button class="boton2 ml-3" @click="Redirect">Go to {{goTo}}</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./web/scripts/index.js"></script>
    <!-- librería flowbite -->
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>


</body>




</html>